.food-item,.food-item>div>img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.food-item{
    margin: auto;
    background-repeat: 15px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.333);
    padding: 10px;
}
.info{
    padding: 12px 0px;
    gap: 5px;
    display: flex;
    flex-direction: column;

}
.info>.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-size: 20px;
    font-weight: 600;
    color: tomato;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.image>.miniimage{
    height: 40px;
    position: absolute;
    width: 40px;
    right: 10px;
    bottom: 10px;
}
.miniimage{
    cursor: pointer;
}
.counter{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 100px;
    right: 10px;
    bottom: 10px;
    gap: 5px;
}