footer{
    padding: 50px 150px;
    margin: auto;
    background-color: rgb(40, 40, 40);
    color: white;
    padding-bottom: 0px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
}
.footer>div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.left{width: 50%;}
.center{width: 25%;}
.right{width: 25%;}
.copyright{
    text-align: center;
    padding: 30px 0px;
    margin-top: 30px;
    border-top: 2px solid gray;
}